* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #3c73e9;
}

::selection {
    color: #fff;
    background: #a9e2e4;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
}

.wrapper header {
    font-size: 40px;
    font-weight: 500;
    padding: 17px 30px;
    border-bottom: 1px solid #ccc;
}

.wrapper header.active {
    cursor: move;
    user-select: none;
}

.wrapper .content {
    font-size: 25px;
    display: flex;
    padding: 30px 30px 40px 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.content .icon {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    border: 5px solid #f808e4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .icon i {
    color: #81eef1;
    font-size: 60px;
}

.content .title {
    margin: 15px 0;
    font-size: 29px;
    font-weight: 500;
}

.content p {
    font-size: 16px;
    text-align: center;
}